*{
    margin: 0px;
    padding: 0px;

}

.main{
    border: 1px solid red;
    display: block;
}
.main1{
    border: 1px solid red;
    width: 30%;
    margin: auto;
}   

ul{
    width: 100%;
}

ul>li>div>input{
    padding: 10px;
    width: 100%;
}
ul>li{
    margin-left: 20px;
    list-style: none;
}

.submit1{
    border: 1px solid green;
    margin-left: 20px;
}

.submit1>input{
    padding: 10px;
}