{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- Main Container -->
  
  <section class="main-container col2-right-layout bounceInUp animated">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9">
          
          <div class="blog-wrapper latest-blog" id="main">
            <div class="site-content" id="primary">
              <div role="main" id="content">
     <div class="blog_post">
                  <div class="thumbnail">
               <h2> <a href="#">Lorem ipsum dolor sit amet, consect adipiscing elit</a> </h2>
					<div class="featured-img">
					<span class="gradient-overlay"></span>
					 <img src="{% static 'images/blog-img1.jpg' %}" alt="blog post">
					
					</div>
                   
                    </div>
                    <div class="entry-meta">
			<a href="#">
  <span class="author-avatar byline"><img alt="" src="{% static 'images/admin-photo.jpg' %}" class="avatar avatar-96 photo">By John Doe</span> <span class="timestamp">January 26, 2016</span>
</a>
</div>
                    <p> Fusce ac pharetra urna. Duis non lacus sit amet lacus interdum facilisis sed non est. Ut mi metus, semper eu dictum nec, condimentum sed sapien. Nullam lobortis nunc semper ipsum luctus ut viverra ante eleifend.</p>
                    <p> liquam laoreet consequat malesuada. Integer vitae diam sed dolor euismod laoreet eget ac felis. Donec non erat sed elit bibendum sodales. Donec eu cursus velit. Proin nunc lacus, gravida mollis dictum ut, vulputate eu turpis.  </p>
                   <a href="#" class="continue-btn">Continue Reading <span>›</span></a>
                  </div>
               <div class="blog_post">
                  <div class="thumbnail">
               <h2> <a href="#"> Pellentesque aliquet, sem eget laoreet ultrices</a> </h2>
					<div class="featured-img">
					<span class="gradient-overlay"></span>
					 <img src="{% static 'images/blog-img2.jpg' %}" alt="blog post 2">
					
					</div>
                   
                    </div>
                    <div class="entry-meta">
			<a href="#">
  <span class="author-avatar byline"><img alt="" src="{% static 'images/admin-photo1.jpg' %}" class="avatar avatar-96 photo">By Saraha Smith</span>
</a>
<span class="timestamp">January 20, 2016</span>
			

		</div>
                    <p>Sed felis sapien, commodo in iaculis in, feugiat sed enim. Sed nunc ipsum, fermentum varius dignissim vitae, blandit et ante.Maecenas sagittis, lorem sed congue egestas, lectus purus congue nisl, ac molestie enim ligula nec eros.</p>
                    <p> Sed leo tortor, tincidunt sit amet elementum vel, eleifend at orci. Maecenas ut turpis felis. Donec sit amet quam sem, et aliquet est.... </p>
                   <a href="#" class="continue-btn">Continue Reading <span>›</span></a>
                  </div>
                    <div class="blog_post">
                  <div class="thumbnail">
               <h2> <a href="#">Lorem ipsum dolor sit amet, consect adipiscing elit</a> </h2>
					<div class="featured-img">
					<span class="gradient-overlay"></span>
					 <img src="{% static 'images/blog-img1.jpg' %}" alt="blog post">
					
					</div>
                   
                    </div>
                    <div class="entry-meta">
			<a href="#">
  <span class="author-avatar byline"><img alt="" src="{% static 'images/admin-photo.jpg' %}" class="avatar avatar-96 photo">By John Doe</span> <span class="timestamp">January 26, 2016</span>
</a>
</div>
                    <p> Fusce ac pharetra urna. Duis non lacus sit amet lacus interdum facilisis sed non est. Ut mi metus, semper eu dictum nec, condimentum sed sapien. Nullam lobortis nunc semper ipsum luctus ut viverra ante eleifend.</p>
                    <p> liquam laoreet consequat malesuada. Integer vitae diam sed dolor euismod laoreet eget ac felis. Donec non erat sed elit bibendum sodales. Donec eu cursus velit. Proin nunc lacus, gravida mollis dictum ut, vulputate eu turpis.  </p>
                   <a href="#" class="continue-btn">Continue Reading <span>›</span></a>
                  </div>
               <div class="blog_post">
                  <div class="thumbnail">
               <h2> <a href="#"> Pellentesque aliquet, sem eget laoreet ultrices</a> </h2>
					<div class="featured-img">
					<span class="gradient-overlay"></span>
					 <img src="{% static 'images/blog-img2.jpg' %}" alt="blog post 2">
					
					</div>
                   
                    </div>
                    <div class="entry-meta">
			<a href="#">
  <span class="author-avatar byline"><img alt="" src="{% static 'images/admin-photo1.jpg' %}" class="avatar avatar-96 photo">By Saraha Smith</span>
</a>
<span class="timestamp">January 20, 2016</span>
			

		</div>
                    <p>Sed felis sapien, commodo in iaculis in, feugiat sed enim. Sed nunc ipsum, fermentum varius dignissim vitae, blandit et ante.Maecenas sagittis, lorem sed congue egestas, lectus purus congue nisl, ac molestie enim ligula nec eros.</p>
                    <p> Sed leo tortor, tincidunt sit amet elementum vel, eleifend at orci. Maecenas ut turpis felis. Donec sit amet quam sem, et aliquet est.... </p>
                   <a href="#" class="continue-btn">Continue Reading <span>›</span></a>
                  </div>
              </div>
            </div>
            <br><br>
          </div>
        </div>
        <aside class="col-right sidebar col-sm-3">
          <div role="complementary" class="widget_wrapper13" id="secondary">
            <div class="popular-posts widget widget__sidebar" id="recent-posts-4">
              <h3 class="widget-title">Most Popular Post</h3>
              <div class="widget-content">
                <ul class="posts-list unstyled clearfix">
                  <li>
                    <figure class="featured-thumb"> <a href="#"> <img width="80" height="53" alt="blog image" src="{% static 'images/blog-img1.jpg' %}"> </a> </figure>
                    <!--featured-thumb-->
                    <h4><a title="Pellentesque posuere" href="#">Pellentesque posuere</a></h4>
                    <p class="post-meta"><i class="icon-calendar"></i>
                      <time datetime="2014-07-10T07:09:31+00:00" class="entry-date">Jul 10, 2014</time>
                      .</p>
                  </li>
                  <li>
                    <figure class="featured-thumb"> <a href="#"> <img width="80" height="53" alt="blog image" src="{% static 'images/blog-img2.jpg' %}"> </a> </figure>
                    <!--featured-thumb-->
                    <h4><a title="Dolor lorem ipsum" href="#">Dolor lorem ipsum</a></h4>
                    <p class="post-meta"><i class="icon-calendar"></i>
                      <time datetime="2014-07-10T07:01:18+00:00" class="entry-date">Jul 10, 2014</time>
                      .</p>
                  </li>
                  <li>
                    <figure class="featured-thumb"> <a href="#"> <img width="80" height="53" alt="blog image" src="{% static 'images/blog-img1.jpg' %}"> </a> </figure>
                    <!--featured-thumb-->
                    <h4><a title="Aliquam eget sapien placerat" href="#">Aliquam eget sapien placerat</a></h4>
                    <p class="post-meta"><i class="icon-calendar"></i>
                      <time datetime="2014-07-10T06:59:14+00:00" class="entry-date">Jul 10, 2014</time>
                      .</p>
                  </li>
                  <li>
                    <figure class="featured-thumb"> <a href="#"> <img width="80" height="53" alt="blog image" src="{% static 'images/blog-img2.jpg' %}"> </a> </figure>
                    <!--featured-thumb-->
                    <h4><a title="Pellentesque habitant morbi" href="#">Pellentesque habitant morbi</a></h4>
                    <p class="post-meta"><i class="icon-calendar"></i>
                      <time datetime="2014-07-10T06:53:43+00:00" class="entry-date">Jul 10, 2014</time>
                      .</p>
                  </li>
                </ul>
              </div>
              <!--widget-content--> 
              
            </div>
            <div class="popular-posts widget widget_categories" id="categories-2">
              <h3 class="widget-title">Categories</h3>
              <ul>
                <li class="cat-item cat-item-19599"><a href="#">First Category</a></li>
                <li class="cat-item cat-item-19599"><a href="#">Second Category</a></li>
              </ul>
            </div>
            <!-- Banner Ad Block -->
            <div class="ad-spots widget"> <a target="_self" href="#" title=""><img alt="offer banner" src="{% static 'images/block3.jpg' %}"></a></br>
              <a target="_self" href="#" title=""><img alt="offer banner" src="{% static 'images/block2.jpg' %}"></a> </div>
            <!-- Banner Text Block -->
            <div class="text-widget widget widget__sidebar">
              <h3 class="widget-title">Text Widget</h3>
              <div class="widget-content">Mauris at blandit erat. Nam vel tortor non quam scelerisque cursus. Praesent nunc vitae magna pellentesque auctor. Quisque id lectus.<br>
                <br>
                Massa, eget eleifend tellus. Proin nec ante leo ssim nunc sit amet velit malesuada pharetra. Nulla neque sapien, sollicitudin non ornare quis, malesuada.</div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <!-- Main Container End --> 
  
  <!-- Brand logo starts  -->
  <div class="brand-logo wow bounceInUp animated">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6"> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo3.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo2.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo5.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo6.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
             
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Brand logo ends  --> 
{% endblock %}