{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
{% endblock%}

{% block content %}
<section class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <section class="col-main col-sm-9">
        <div class="page-title">
          <h1>Contact Us</h1>
        </div>
        <div class="static-contain">
          <form class="group-select" action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <ul>
              <li id="billing-new-address-form">
                <fieldset>
                  <legend>New Address</legend>
                  <input type="hidden"  id="billing:address_id">
                  <ul>
                    <li>
                      <div class="customer-name">
                        <div class="input-box name-firstname">
                          {{ forms.name.label }}
                          <!-- <label for="billing:firstname"> First Name<span class="required">*</span></label> -->
                          <br>
                          {{ forms.name }}
                          <!-- <input type="text" id="billing:firstname" name="" title="First Name" class="input-text "> -->
                        </div>
                        <div class="input-box name-lastname">
                          {{ forms.email.label }}
                          <!-- <label for="billing:lastname"> Email Address <span class="required">*</span> </label> -->
                          <br>
                          {{ forms.email }}
                          <!-- <input type="text" id="billing:lastname" name="" title="Last Name" class="input-text"> -->
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="input-box">
                        {{ forms.company.label }}
                        <!-- <label for="billing:company">Company</label> -->
                        <br>
                        {{ forms.company }}
                        <!-- <input type="text" id="billing:company" name="" title="Company" class="input-text"> -->
                      </div>
                      <div class="input-box">
                        {{ forms.tel.label }}
                        <!-- <label for="billing:email">Telephone <span class="required">*</span></label> -->
                        <br>
                        {{ forms.tel }}
                        <!-- <input type="text" name="" id="billing:email" title="Email Address" class="input-text"> -->
                      </div>
                    </li>
                    <li>
                      {{ forms.address.label }}
                      <!-- <label for="billing:street1">Address <span class="required">*</span></label> -->
                      <br>
                      {{ forms.address }}
                      <!-- <input type="text" title="Street Address" name="" class="input-text"> -->
                    </li>
                    <li>
                      <input type="text" title="Street Address 2" name="" class="input-text">
                    </li>
                    <li class="">
                      {{ forms.comment.label }}
                      <!-- <label for="comment">Comment<em class="required">*</em></label> -->
                      <br>
                      <div style="float:none" class="">
                        {{ forms.comment }}
                        <!-- <textarea name="" id="comment" title="Comment" class="input-text" cols="5" rows="3"></textarea> -->
                      </div>
                    </li>
                  </ul>
                </form>
              </li>
              <span class="require"><em class="required">* </em>Required Fields</span>
              <div class="buttons-set">
                <button type="submit" title="Submit" class="button submit"> <span> Submit </span> </button>
              </div>
            </ul>
          </fieldset>
        </div>
      </section>
      <aside class="col-right sidebar col-sm-3">
        <div class="block block-company">
          <div class="block-title">Company </div>
          <div class="block-content">
            <ol id="recently-viewed-items">
              <li class="item odd"><a href="#">About Us</a></li>
              <li class="item even"><a href="#">Sitemap</a></li>
              <li class="item  odd"><a href="#">Terms of Service</a></li>
              <li class="item even"><a href="#">Search Terms</a></li>
              <li class="item last"><strong>Contact Us</strong></li>
            </ol>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<!-- Main Container End --> 

<!-- Brand logo starts  -->
<div class="brand-logo wow bounceInUp animated">
  <div class="container">
    <div class="slider-items-products">
      <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col6"> 
          
          <!-- Item -->
          <div class="item"><a href="#"><img src="images/b-logo3.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"><a href="#"><img src="images/b-logo2.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"><a href="#"><img src="images/b-logo1.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"><a href="#"><img src="images/b-logo4.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"><a href="#"><img src="images/b-logo5.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"><a href="#"><img src="images/b-logo6.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"><a href="#"><img src="images/b-logo1.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
          <!-- Item -->
          <div class="item"><a href="#"><img src="images/b-logo4.png" alt="Image"></a> </div>
          <!-- End Item --> 
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}