<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
       
        {% for i in datas %}
            <div>
                <p>{{ i.desc }}</p>
                <a href="http://127.0.0.1:8000/product-detail/{{ i.slug }}">{{ i.detail.name }}</a>
            </div>

        {% endfor %}
    </form>
</body>
</html>