{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/prodc.css' %}">
{% endblock %}

{% block content %}

    <div class="main">
        <div class="main1">
            <form action=" " method="post" enctype="multipart/form-data">
                {% csrf_token %}
              
                <div class="tag2">
                    <ul class="ul3">
                        <li>
                            {{ forms.image.label }}
                            {{ forms.image }}
                            <!-- <label for="">Image for product </label>
                            <img src="" alt=""> -->
                        </li>
                    </ul>
                </div>
                <div class="tag1">
                    <ul>
                        <li>
                            {{ forms.user.label }}
                            <div>
                                {{ forms.user }}
                            </div>
                        </li>
                    </ul>
                    <ul class="ul1">
                        <li>
                            {{ forms.name.label }}
                            <!-- <label for="">Product Name</label> -->
                            <div>
                             {{ forms.name }}
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            {{ forms.category_pro }}
                        </li>
                    </ul>
                </div>
                <div class="tag3">
                    <ul class="ul4">
                        <li>
                            {{ forms.desc.label }}
                            <!-- <label for="">Description</label> -->
                            <div>
                             {{ forms.desc }}   
                                <!-- <input type="text" > -->
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tag4">
                    <ul class="5">
                        <li>
                            {{ forms.new_pr.label }}
                            <!-- <label for="">New Price</label> -->
                            <div>
                                {{ forms.new_pr }}
                                <!-- <input type="text"> -->
                            </div>
                        </li>
                        <br>
                        <li>
                            {{ forms.old_pr.label }}
                            <!-- <label for="">Old Price</label> -->
                            <div>
                                {{ forms.old_pr }}
                                <!-- <input type="text" name="" id=""> -->
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="submit1">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>

{% endblock %}