{% extends 'base.html' %}

{% load static %}

{% block content %} 
        <div class="main_div">
            <div class="main_div1">
                <div class="img">
               <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                   
                {% for i in form %}
                    {{ i }}
                {% endfor %}
                <input type="submit" name="" id="">
               </form>
                </div>
                <div class="name">
                    
                    <p></p>
                </div>
                <div class="usr">

                </div>
                <div>
                    <p></p>
                </div>
            </div>

        </div>
{% endblock %}