{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile2.css' %}">
{% endblock %}


{% block content %} 
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="main">
            <div class="flex">            
                <div class="left_sec">
                    <div class="user_inf">
                        <div class="pict">
                            <img class="image" src="{{ user1.image.url }}" >
                        </div>
                        <button class="btn">{{ form.image }}</button>
                        <div class="user_name">  
                            <p class="usr">{{ user1.username }}</p>                          
                            <!-- {{ user1.username }} -->
                        </div>
                    </div>
                    <div class="select">
                        <div class="select1">
                            <button onclick="funct1()" class="select11">Change data</button>
                        </div>
                        <div class="select2"> 
                            <button class="select12 " onclick="funct()" value="45">Change user password</button>
                        </div>
                    </div>
                </div>
                <div class="right_sec">
                    <div class="general_sec">
                        <div class="section1">
                            {{ form.first_name.label }}
                            {{ form.first_name }}
                            {{ form.last_name.label }}
                            {{ form.last_name }}
                            {{ form.username.label }}
                            {{ form.username }}
                            {{ form.email.label }}
                            {{ form.email }}
                        </div>
                        <div class="section2">
                            {{ form.password }}
                        </div>
                        <input type="submit" name="" id="" class="submt" value="Save">
                    </div>    
                </div>          
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
<script>
    function funct(){
        if(document.getElementsByClassName('section2')[0].style.display = 'none' ){
            document.getElementsByClassName('section1')[0].style.display = 'none';
            document.getElementsByClassName('section2')[0].style.display = 'block';   
        }
    } 
    function funct1(){
        if(document.getElementsByClassName('section1')[0].style.display = 'none' ){
            document.getElementsByClassName('section2')[0].style.display = 'none';
            document.getElementsByClassName('section1')[0].style.display = 'block';   
        }
    } 
</script>

<!-- <script>

    let user = JSON.parse('{{ user|safe }}');
    console.log(user)

</script> -->
{% endblock %}