{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">\
{% endblock %}

{%  block content %}
  <!-- Main Container -->
  <section class="main-container col1-layout bounceInUp animated">
    <div class="main container">
      <div class="account-login">
        <div class="page-title">
          <h1>Login or Create an Account</h1>
        </div>
        <form class="col2-set" action="" method="post">
          {% csrf_token %}
          <legend>Login or Create an Account</legend>
          <div class="col-1 new-users"><strong>Registered Customers</strong>
            <div class="content">
              <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
              <div class="buttons-set">
                <button class="button create-account"><span>Login</span></button>
              </div>
            </div>
          </div>
          <div class="col-2 registered-users"><strong>New Customers</strong>
            <div class="content">
              <p>If you have an account with us, please log in.</p>
              <ul class="form-list">
                <li>
                      {{ forms.first_name.label }}
                  <!-- <label for="name">First Name<span class="required">*</span></label> -->
                  <br>
                      {{ forms.first_name }}
                  <!-- <input type="text" title="" id="name" class="input-text" name="" placeholder="name"> -->
                </li>
                <li>
                      {{ forms.last_name.label }}
                  <!-- <label for="surname">Last Name<span class="required">*</span></label> -->
                  <br>
                      {{ forms.last_name }}
                  <!-- <input type="text" title="" id="surname" class="input-text" name=""> -->
                </li>
                <li>
                      {{ forms.email.label }}
                  <!-- <label for="email">Email Address <span class="required">*</span></label> -->
                  <br>
                      {{ forms.email}}
                  <!-- <input type="text" title="" class="input-text" id="email" value="" name=""> -->
                </li>
                <li>
                      {{ forms.username.label }}
                  <!-- <label for="pass">Password <span class="required">*</span></label> -->
                  <br>
                      {{ forms.username }}
                  <!-- <input type="password" title="" id="pass" class="input-text" name=""> -->
                </li>
                <li>
                  {{ forms.password.label }}
                  <!-- <label for="pass2">Confirm password <span class="required">*</span></label> -->
                  <br>
                  {{ forms.password }}
                  <!-- <input type="password" title="" id="pass2" class="input-text" name=""> -->
                </li>
              </ul>
              <p class="required">* Required Fields</p>
              <div class="buttons-set">
                  {{ forms.submit }}
                <!-- <button id="send2" name="" type="submit" class="button login"><span>Register</span></button> -->
            </div>
          </div>
        </form>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
  <!-- Main Container End --> 
  
  <!-- Brand logo starts  -->
  <div class="brand-logo wow bounceInUp animated">
    <div class="container">
      <div class="slider-items-products">
        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6"> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo3.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo2.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo5.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo6.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo1.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item"><a href="#"><img src="{% static 'images/b-logo4.png' %}" alt="Image"></a> </div>
            <!-- End Item --> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Brand logo ends  --> 
  {% endblock %}