{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock %}

{% block content %}
    <div class="flex">
        {% for form in forms %}
        <div>
            <img src="" alt="">
            <div>
                {{ form. }}
            </div>
        </div>
        
        <div>
            <p> <img src="{{ form.user.image.url }}" alt="">{{ form.user }}</p>
            <p>{{ form.comment }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}